<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.federico.myapplication" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BlueWhiteActionBarTheme" >
        <meta-data
            android:name="sordos"
            android:value="AIzaSyAQcafXWJo0QxU46U16EbmWSogIYklYbRc" />

        <activity
            android:name="com.example.federico.activities.ListPhrasesActivity"
            android:label="@string/title_activity_list_phrases"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.federico.activities.StartActivity"
            android:label="@string/title_activity_start"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.federico.activities.CreateCategoryActivity"
            android:label="@string/title_activity_create_category"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.federico.activities.ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.federico.activities.TabsCategoriesActivity"
            android:label="@string/title_activity_download_category" >
        </activity>
    </application>

</manifest>
